{% extends 'base.html' %}
{% load static%}
{%block title%}
Inicio
{%endblock%}
{% block extra %}
  <ul class="navbar-nav mr-4">
    <div class="dropleft dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{local_default}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        
        {%for local in locais%}
        <form class="form-horizontal" method="POST" >
          {% csrf_token %}
          <input type="hidden" class="form-control" name="escolha" value="{{local}}">
          <button  class="dropdown-item btn btn-outline-success " type="submit">{{local}}</button>
        </form>
        {%endfor%}
      </div>
    </div>
    
  </ul>
  {%endblock%}
  {%block content%}
  <table class="table tg" >
    <colgroup>
    <col style="width: 117px">
    <col style="width: 191px">
    <col style="width: 191px">
    <col style="width: 191px">
    <col style="width: 191px">
    <col style="width: 191px">
    </colgroup>
    <tr>
      <th class="tg-alhi">DIAS</th>
      {%for dia in dias%}
      <th class="tg-alhi">{{dia}}</th>
      
      {%endfor%}
    </tr>
    <tr>
      <td class="tg-uq3h" colspan="6">{{turno}}</td>
    </tr>
    {%for k,item in estrutura.items %}
    <tr>
      <td class="tg-alhi">{{k}}</td>
      {%for i,j  in item.items %}
      <td class="tg-ribb">{{j}}</td>
      {%endfor%}
      {%if k == "12:00 as 12:50" %}
      <tr>
        <td class="tg-uq3h" colspan="6">TARDE</td>
      </tr>
      {%endif%}
      {%if k == "17:50 as 18:40"%}
      <tr>
        <td class="tg-uq3h" colspan="6">NOITE</td>
      </tr>
      {%endif%}
      
    </tr>
    {%endfor%}
  </table>
  {%endblock%}