<!DOCTYPE html>
<meta charset="utf-8">
<html>
	{% load static %}
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'agenda/css/bootstrap.min.css'  %}">
		
		<link rel="stylesheet" type="text/css" href="{% static 'agenda/css/personal_usuario.css'  %}">
		
	</head>
	<body>
		
		<div class="container-fluid" style="background-color: #B9F6CA;" >
			<div class="container">
				<div class="row justify-content-center">
					<div class="col">
						<center>
						<h2> Logar no Sistema </h2>
						<a id="link1" onClick="document.getElementById('id01').style.display='block'" >
							<img src="{%static 'agenda/icon/user.svg'%}">
						</a>
						</center>
					</div>
					<div class="col">
						<center>
						<h2> Cadastrar </h2>
						<a  href="{%url 'cadastar_usuario'%}">
							<img src="{%static 'agenda/icon/user-plus.svg'%}">
						</a>
						</center>
					</div>
				</div>
			</div>
			<!-- LOGAR O SISTEMA -->
			<div id="id01" class="modal">
				<form class="modal-content animate" method="post">
					{%csrf_token%}



					<div class="imgcontainer">
						<span onClick="document.getElementById('id01').style.display='none'" class="close"
						title="Close Modal">&times;</span>
						<img src="{%static 'agenda/icon/user-circle.svg'%}" alt="Avatar" class="avatar">
					</div>
					{% for message in messages%}
			<div class="alert alert-danger">
				{{message}}
			</div>
			{%endfor%}
					<div class="container">
						<label for="uname"><b>Nome de Usuário</b></label>
						{{ usuario.username}}
						<label for="psw"><b>Senha</b></label>
						{{ usuario.password}}
						{%if mensagem%}
						<div class="alert alert-danger">
							{% for key, value in mensagem.items%}
								{{ value }
								{%endfor%}
							</div>
							{%endif%}
							
							<button type="submit"> Fazer o Login </button>
							<label>
								<input type="checkbox" checked="checked" name="remember"> Manter-me conectado
							</label>
						</div>
						<div class="container" style="background-color:#f1f1f1">
							<button type="button" onClick="document.getElementById('id01').style.display='none'"
							class="cancelbtn">Cancelar</button>
							<span class="psw">Esqueceu  <a href="#">a senha?</a></span>
						</div>
					</form>
				</div>
				
			</div>
			<script src="{% static 'agenda/js/jquery.min.js' %}"></script>
			
			<script src="{% static 'agenda/js/bootstrap.bundle.min.js' %}"></script>
			<script src="{% static 'agenda/js/bootstrap.min.js' %}"></script>
			{%if messages %}
			<script>
			$(document).ready(function() {
			$("#link1").click();
			})
			</script>
			{%endif%}
		</body>
	</html>