<!DOCTYPE html>
<meta charset="utf-8">
<html>
	{% load static %}
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'agenda/css/bootstrap.min.css'  %}">
		<link rel="stylesheet" type="text/css" href="{% static 'agenda/css/personal_usuario.css'  %}">
	</head>
	<body>
		<div class="container-fluid" style="background-color: #B9F6CA;" >
			<div class="row justify-content-center">
				<div class="col">
					<center>
					<h2> Logar no Sistema </h2>
					<a id="link1" onClick="document.getElementById('id01').style.display='block'">
						<img src="{%static 'agenda/icon/user.svg'%}">
					</a>
					</center>
				</div>
				<div class="col">
					<center>
					<h2> Cadastrar </h2>
					<a id="link2" onClick="document.getElementById('id02').style.display='block'">
						<img src="{%static 'agenda/icon/user-plus.svg'%}">
					</a>
					</center>
				</div>
			</div>
		</div>
		<div id="id02" class="modal">
			{%if sucesso%}
			<div class="container" style="background-color:#f1f1f1">
				<center><h4>Usuario Cadastrado com Sucesso</h4></center>
				<a href="{%url 'logar'%}"><button type="submit"> ok</button> </a>
			</div>
			
			{%else%}
			<form class="modal-content animate" method="post">
			  <a href="{%url 'logar'%}"> <span class="close" title="Close Modal" >&times;</a>
				{%csrf_token%}
				<div class="imgcontainer">
					
					<img src="{%static 'agenda/icon/user-circle.svg'%}" alt="Avatar" class="avatar">
				</div>
				<div class="container">
					
					<label for="uname"><b>Nome de Usuário</b></label>
					{{ usuario.username.erros }}
					{{usuario.username}}
					<label for="psw"><b>Senha</b></label>
					{{ usuario.password1.erros }}
					{{usuario.password1}}
					<label for="psw"><b>Repita a Senha</b></label>
					{{ usuario.password2.erros }}
					{{usuario.password2}}
					{%if mensagem%}
					
					<div class="alert alert-danger">
						{% for key, value in mensagem.items%}
							{{ value }}
							{%endfor%}
					</div>
						{%endif%}
					<button type="submit">Cadastrar</button>
				</div>
				<div class="container" style="background-color:#f1f1f1">
					
				</div>
			</form>
		{%endif%}
	</div>
	<script src="{% static 'agenda/js/jquery.min.js' %}"></script>
	<script src="{% static 'agenda/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'agenda/js/bootstrap.min.js' %}"></script>
	<script>
		$(document).ready(function() {
		$("#link2").click();
		})
	</script>
	</body>
</html>